<!DOCTYPE html>
<html>
<head><title>新規追加</title></head>
<body>
    <h1>新規シングルの追加</h1>
    <form action="/hinata" method="POST">
        <div><label>タイトル:</label><input type="text" name="title" required></div>
        <div><label>発売日:</label><input type="text" name="release" required></div>
        <div><label>センター:</label><input type="text" name="center" required></div>
        <div><label>カップリング:</label><input type="text" name="Commoncoupling" required></div>
        <button type="submit">登録</button>
    </form>
    <a href="/hinata">キャンセル</a>
</body>
</html>