<!DOCTYPE html>
<html>
<head><title>削除確認</title></head>
<body>
    <h1>削除確認: <%= data.title %></h1>
    <a href="/hinata/delete/<%= id %>" style="color: red; font-weight: bold;">削除する</a>
    <br><br>
    <a href="/hinata/<%= id %>">キャンセル</a>
</body>
</html>