<!DOCTYPE html>
<html>
<head>
    <title>削除確認</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body class="wbc">
    <h1>削除確認: <%= data.year %>年大会</h1>
    <a href="/wbc/delete/<%= id %>" style="color: red; font-weight: bold;">削除</a>
    <br><br>
    <a href="/wbc/<%= id %>">キャンセル</a>
</body>
</html>