<!DOCTYPE html>
<html>
<head><title>WBC Winners</title></head>
<body>
    <h1>WBC 優勝国</h1>
    <a href="/wbc_create">新規登録</a>
    <table>
        <tr><th>開催年</th></tr>
        <% let number = 0; %>
        <% for(let row of data) { %>
            <tr>
                <td><a href="/wbc/<%= number %>"><%= row.year %> 年</a></td>
            </tr>
            <% number++; %>
        <% } %>
    </table>
</body>
</html>