@charset "utf-8";

/* 全体の余白を少し空ける */
body {
    margin: 20px;
}

body.jleague h1 {
    color: red;
}

/* bodyタグに "hinata" クラスがある時の h1 の色 */
body.hinata h1 {
    color: #7cc7e8;
}

/* bodyタグに "wbc" クラスがある時の h1 の色 */
body.wbc h1 {
    color: #002b5c;
}

/* テーブルに枠線をつける */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

/* テーブルのヘッダーに色をつける */
th {
    background-color: #cccccc;
}

/* フォームのパーツ同士がくっつかないようにする */
div {
    margin-bottom: 10px;
}