@charset "utf-8";

body {
    margin: 20px;
}

body.jleague h1 {
    color: red;
}

body.hinata h1 {
    color: #7cc7e8;
}

body.wbc h1 {
    color: #002b5c;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #cccccc;
}


div {
    margin-bottom: 10px;
}